@import "../../../styles.scss";

table {
  border: 1px solid $smoke;
}

table {
  border-collapse: collapse;
  width: 55vw;
  text-align: center;
  margin: auto;

  .header {
    height: 50px;
    @include baseTextStyle($color: $dark-primary);
    th {
      h2 {
        margin: 0;
      }
    }
  }

  .cockpit {
    border-bottom: 1px solid $smoke;
    border-top: 1px solid $smoke;

    .displayed-week {
      @include baseTextStyle($color: $dark-primary);
    }
  }

  .labels {
    height: 40px;
    border-bottom: 1px solid $smoke;
    @include baseTextStyle($color: $dark-primary);
  }

  .content {
    height: 40px;
    border-bottom: 1px solid $smoke;
    @include baseTextStyle($color: $dark-primary);
  }

  .content:nth-child(4){
    background-color: $light-primary;
  }

  .content:nth-child(6){
    background-color: $light-primary;
  }

  .content:nth-child(8){
    background-color: $light-primary;
  }

  .total-time {
    @include baseTextStyle($color: $dark-primary);
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    button {
      height: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      border: 1px solid $dark-primary;
      border-radius: 3px;
      background-color: transparent;
      @include baseTextStyle($color: $dark-primary);
      margin: 3px 14px 0 10px;
      cursor: pointer;
    }
  }
}

:host ::ng-deep {
  .material-icons {
    margin-top: 6px;
    color: $dark-primary;
    cursor: pointer;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .displayed-week {
    font-size: 10px;
  }

  .buttons-container {
    margin-top: 13px;
  }
}

