/* You can add global styles to this file, and also import other style files */
@mixin baseTextStyle($fontSize: 14px, $fontWeight: normal, $color: black) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}

@mixin defaultBoxShadow() {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary: #673ab7;
$dark-primary: #3c2f80;
$light-primary: #ddd7ff;
$white: #ffffff;
$smoke: #d5d5d5;
$powder: #f8fbff;

.center-modal {
  .mat-dialog-container {
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
    -webkit-box-shadow: -2px 2px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 20px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 20px 0px rgba(0,0,0,0.75);
  }
}

// signup component styles
.button-spinner > svg {
  width: 20px !important;
  height: 20px !important;
}

.save-btn {
  .mat-button-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
// end of signup styles

// toast-banner-component
.success-center-toast-banner {
  width: 500px;
  height: 150px;
  mat-dialog-container {
    //background-color: $powder;
    background-color: #a8e1a8;
  }
}

.success-bottom-right-toast-banner {
  width: 500px;
  height: 100px;
  position: absolute !important;
  bottom: 30px;
  right: 30px;
  mat-dialog-container {
    background-color: #a8e1a8;
  }
}

.success-top-right-toast-banner {
  width: 500px;
  height: 100px;
  position: absolute !important;
  top: 30px;
  right: 30px;
  mat-dialog-container {
    background-color: #a8e1a8;
  }
}

.warning-center-toast-banner {
  width: 500px;
  height: 150px;
  mat-dialog-container {
    //background-color: $powder;
    background-color: #ececa8;
  }
}

.warning-bottom-right-toast-banner {
  width: 500px;
  height: 100px;
  position: absolute !important;
  bottom: 30px;
  right: 30px;
  mat-dialog-container {
    background-color: #ececa8;
  }
}

//.warning-toast-banner {
//  mat-dialog-container {
//    background-color: #fa6868;
//  }
//}
